<h1>Listing transitions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transitions.each do |transition| %>
      <tr>
        <td><%= link_to 'Show', transition %></td>
        <td><%= link_to 'Edit', edit_transition_path(transition) %></td>
        <td><%= link_to 'Destroy', transition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transition', new_transition_path %>
