<p id="notice"><%= notice %></p>

<p>
  <strong>Scene description:</strong>
  <%= @action_block.scene_description %>
</p>

<%= link_to 'Edit', edit_action_block_path(@action_block) %> |
<%= link_to 'Back', action_blocks_path %>
