<h1>Block Types</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @block_types.each do |block_type| %>
      <tr>
        <td><%= link_to block_type.name, edit_block_type_path(block_type) %></td>
        <td><%= link_to 'Edit', edit_block_type_path(block_type) %> | 
            <%= link_to 'Delete', block_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'New Block type', new_block_type_path, :class => 'btn', :method => 'get' %>
